.chicago {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 5vw;
    font-family: 'Karla', sans-serif;
}
.chicago-text {
    flex: 2;
}
.chicago-image {
    flex: 1;
    text-align: right;
}
.chicago img {
    min-width: 200px;
    max-width: 300px;
    aspect-ratio: 1;
}
.chicago h1 {
    color: #F4CE14;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    margin-top: 1rem;
}
.chicago h2 {
    color: #495e57;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}
.chicago p {
    color: #495e57;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}