.spec-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Markazi Text', serif;
}
.spec-container h1 {
    color: #333333;
    font-size: 64px;
    font-weight: 500;
    margin: 0;
}
.spec-container a {
    background-color: #F4CE14;
    color: #333333;
    font-family: 'Markazi Text', serif;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 16px;
    text-decoration: none;
}
.spec-container a:link {
    text-decoration: none;
}

.spec-container a:visited {
    text-decoration: none;
}

.spec-container a:hover {
    text-decoration: none;
}

.spec-container a:active {
    text-decoration: none;
}

.spec-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5vw;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    font-family: 'Markazi Text', serif;
}