.booking-form {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Markazi Text', serif;
    color: #333333;
    background-color: white;
}

fieldset {
    width: 30vw;
    padding: 16px;
    border: 1px solid #333333;
    border-radius: 4px;
}

fieldset h2 {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
}

sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

input,
select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    padding: 0 8px;
}

.FieldError {
    position: absolute;
    bottom: -6px;
    color: red;
    font-size: 12px;
}

.Row {
    display: flex;
    flex-direction: row;
}

button {
    padding: 12px;
    width: 240px;
    border-radius: 16px;
    border: 1px solid #ccc;
    background-color: #495E57;
    color: #F4CE14;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: calc((30vw - 240px)/2);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}


