.booking-form {
    display: flex;
    justify-content: center;
    padding: auto;
    font-family: 'Markazi Text', serif;
    font-size: 24px;
    color: #EDEFEE;
    background-color: #495E57;
}

fieldset {
    width: 50vw;
    padding: 16px;
    border: none;
}

fieldset h2 {
    color: #F4CE14;
    font-size: 64px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
}

label {
    margin-bottom: 8px;
    font-size: 24px;
}

sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

input,
select {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #EDEFEE;
    height: 32px;
    padding: 0 8px;
}

button {
    align-self: center;
    padding: 12px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #495E57;
    color: #495E57;
    background-color: #F4CE14;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #999999;
    color: #666666;
    cursor: not-allowed;
}

@media(max-width: 1000px) {
    fieldset {
        width: 90vw;
    }
}

