footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    background-color: #FBDABB;
}

footer > img {
    width: 15vw;
    height: auto;
}

footer h2 {
    font-weight: 800;
    margin-top: 1rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: #333333;
    text-decoration: none;
}

footer a:link {
    text-decoration: none;
}

footer a:visited {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    text-decoration: none;
}

@media(max-width: 1000px) {
    #rest-image {
        display: none;
    }
}